<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!--配置Controller扫描包-->
    <context:component-scan base-package="com.afeng.springmvc.controller"/>
    <!--配置完前后缀以后 最终jsp物理地址 前缀+逻辑视图名+后缀-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置逻辑视图的前缀-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <!--配置逻辑视图的后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>